.App {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: calc(9px + 2vmin);
  text-align: center;
  background-color: #eeeeee;
  color: #2f1728;
}

h4,
h5,
h6,
h7 {
  margin: 0px;
}
